.App {
  // background-color: black;
}

.FrontPage {
  background-color: black;
  height: 100vh;
  width: 100vw;
}

.NavBar {
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: black;

  & .leftNav {
    width: 50vw;
    height: 8vh;
    // background-color: purple;
    display: flex;
    justify-content: space-around;
    align-items: center;

    & .logoDiv {
      display: flex;
      justify-content: center;
      align-items: center;
      // background-color: orange;
      & #circleLogo {
        height: 5vh;
        cursor: pointer;
      }

      & #wordLogo {
        height: 2vh;
        cursor: pointer;
        margin-bottom: 0.5vh;
      }
    }
  }
  & .rightNav {
    width: 50vw;
    height: 8vh;
    & ul {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      & li {
        margin: 2vh;
        font-size: 1.7vh;
        color: white;
        cursor: pointer;
        list-style-type: none;

        & .link {
          position: relative;
          display: block;
          text-align: center;
          font-size: 16px;
          color: #ffffff;
          text-transform: uppercase;
          text-decoration: none;
          transition: 0.3s;
          font-family: "Heebo", sans-serif;
        }

        & .link:hover {
          color: rgb(243, 176, 106);
        }
      }
    }
  }
}

.MainFront {
  color: white;
  background-color: rgb(8, 22, 80);

  height: 100;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  & .leftFront {
    height: 100vh;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;

    & .centeredStack {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      color: rgb(243, 176, 106);
      flex-direction: column;

      width: 30vw;
      font-family: "Heebo", sans-serif;

      & #bigLabel {
        font-size: 5vw;
        font-weight: 700;
      }

      & #smallLabel {
        font-size: 1vw;
        font-weight: 300;
      }

      & button {
        height: 4vh;
        width: 10vw;
        background-color: rgb(243, 176, 106);
        border: none;
        box-shadow: none;
        cursor: pointer;
        margin-top: 3vh;
        border-radius: 5vh;
        font-size: 1.2vh;
        font-weight: 500;
        text-transform: uppercase;
        color: rgb(20, 42, 131);
        transition: 0.5s;
      }

      & button:hover {
        background-color: white;
      }
    }
  }

  & .rightFront {
    height: 100vh;
    width: 40vw;
    background-color: rgb(133, 133, 133);
    // border-top-left-radius: 50%;
    // border-bottom-left-radius: 45%;
    // border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow: hidden;

    & .art {
      & img {
        height: 12vh;
        width: 12vh;
        margin: 1vh;
      }
    }
  }
}

.FrontFooter {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100vw;
  height: 30vh;
  font-family: "Heebo", sans-serif;

  & .leftFF {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    // background-color: green;
    width: 40vw;
    height: 30vh;
    & .lffCol {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;

      height: 20vh;
      margin: 3vh;
      width: 8vw;

      & #lfTitle {
        color: rgb(126, 126, 126);
        font-size: 1.6vh;
        font-weight: 600;
        text-transform: uppercase;
        margin: 2vh 0 1vh 0;
      }

      & #lfBul {
        color: white;
        font-size: 1.4vh;
        cursor: pointer;
        margin-bottom: 0.5vh;
      }

      & #lfBul:hover {
        color: rgb(243, 176, 106);
      }
    }
  }

  & .rightFF {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 14vw;
    height: 30vh;
  }
}

.Register {
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  & .logos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 6vh;

    & #circleLogo {
      height: 7vh;
    }

    & #wordLogo {
      height: 4vh;
      margin-bottom: 1vh;
    }
  }

  & form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & input {
      border-color: white;
      border: solid;
      border-width: 0.1vh;
      border-radius: 1vh;
      background-color: black;
      color: white;
      height: 4vh;
      width: 20vw;
      font-size: 2vh;
      outline: none;
      margin: 1.2vh;
      padding-left: 1vh;
      transition: 0.3s;
      font-family: "Heebo", sans-serif;
    }

    & input:focus {
      border-color: rgb(243, 176, 106);
    }

    & button {
      height: 4vh;
      width: 20vw;
      border: none;
      font-size: 2vh;
      font-family: "Heebo", sans-serif;
      text-transform: uppercase;
      background-color: rgb(243, 176, 106);
      border-radius: 10vh;
      margin: 1.2vh;
      outline: none;
      position: relative;
      display: inline-block;
      cursor: pointer;
      transition: all 0.5s;
    }
  }
}

.HomeHeader {
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;

  & .leftHH {
    width: 50vw;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    & .logoDiv {
      display: flex;
      justify-content: center;
      align-items: center;

      & #circleLogo {
        height: 5vh;
        cursor: pointer;
      }

      & #wordLogo {
        height: 2vh;
        cursor: pointer;
        margin-bottom: 0.5vh;
      }
    }
  }

  & .rightHH {
    width: 50vw;
    height: 8vh;
    & ul {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      & li {
        margin: 2vh;
        font-size: 1.7vh;
        color: white;
        cursor: pointer;
        list-style-type: none;

        & .link {
          position: relative;
          display: block;
          text-align: center;
          font-size: 16px;
          color: #ffffff;
          text-transform: uppercase;
          text-decoration: none;
          transition: 0.3s;
          font-family: "Heebo", sans-serif;
        }

        & .link:hover {
          color: rgb(243, 176, 106);
        }
      }
    }
  }
}

.HomeFront {
  width: 100vw;
  background-color: rgb(54, 54, 54);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Heebo", sans-serif;

  & #numMix {
    font-size: 3vh;
    color: white;
    font-weight: 500;
    margin-top: 2vh;
    width: 96vw;
  }

  & .song {
    height: 14vh;
    width: 96vw;

    margin-top: 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: rgb(197, 197, 197);

    & .leftSong {
      height: 14vh;
      width: 66vw;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;

      & #square {
        height: 12vh;
        width: 12vh;
        margin-left: 1vh;
        display: flex;
        justify-content: center;
        align-items: center;
        & #plus {
          width: 5vh;
        }
      }

      & .grad1 {
        background: linear-gradient(to bottom right, #00c9ff, #92fe9d);
      }
      & .grad2 {
        background: linear-gradient(to bottom right, #373b44, #4286f4);
      }
      & .grad3 {
        background: linear-gradient(to bottom right, #c31432, #240b36);
      }
      & .grad4 {
        background: linear-gradient(to bottom right, #dd3e54, #6be585);
      }
      & .grad5 {
        background: linear-gradient(to bottom right, #8360c3, #2ebf91);
      }
      & .grad6 {
        background: linear-gradient(to bottom right, #654ea3, #eaafc8);
      }
      & .grad7 {
        background: linear-gradient(to bottom right, #659999, #f4791f);
      }

      & .add {
        background: radial-gradient(white, rgb(197, 197, 197));
      }

      & #songName {
        margin-left: 2vh;
        color: black;
        font-weight: 500;
        font-size: 2.4vh;
      }
    }

    & .rightSong {
      width: 30vw;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;

      & #share {
        height: 3vh;
      }

      & div {
        font-size: 2vh;
        font-weight: 500;
        color: black;
      }

      & #play {
        height: 3vh;
      }
    }
  }
}

.NewMix {
  background-color: black;

  & .fixedHeader {
    height: 25vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    & .topFH {
      margin-top: 3vh;
      width: 98vw;
      height: 7vh;
      // background-color: rgb(107, 77, 37);
      display: flex;
      justify-content: space-between;
      align-items: center;
      & #left {
        height: 5vh;
        width: 5vh;
        fill: #f3b06a;
        border-radius: 10vh;
        transition: 0.2s;
      }

      & #left:hover {
        background-color: #f3b06a;
        fill: black;
      }
    }

    & .midFH {
    }
  }
}

.types {
  width: 100vw;
  & .type {
    background-color: gray;
    margin: 2vh;
    padding: 1vh;

    & #chooseFrom {
      font-size: 3vh;
      text-decoration: underline;
      color: white;
      font-weight: 700;
    }
  }
}

.artistList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  & .artist {
    height: 30vh;
    width: 16vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & #artistTitle {
      font-size: 3vh;
      color: white;
    }

    & img {
      height: 22vh;
      width: 12vw;
      object-fit: cover;
    }

    & button {
      height: 4vh;
      width: 6vw;
      margin-top: 1vh;
      box-shadow: none;
      border: none;
      border-radius: 1vh;
      background-color: white;
      color: black;
      font-size: 1.2vh;
      font-weight: 700;
      cursor: pointer;
      transition: 0.3s;
    }
    & button:hover {
      background-color: black;
      color: white;
    }
  }
}
